Library/
Temp/
ProjectSettings/ClusterInputManager.asset
ProjectSettings/UnityConnectSettings.asset
Unity-WWW-wrapper.CSharp.csproj
Unity-WWW-wrapper.sln
.vs/Unity-WWW-wrapper/v14/.suo
.vs/Unity-WWW-wrapper-csharp/v14/.suo
Assembly-CSharp-vs.csproj
Assembly-CSharp.csproj
ProjectSettings/AudioManager.asset
ProjectSettings/DynamicsManager.asset
ProjectSettings/EditorBuildSettings.asset
ProjectSettings/EditorSettings.asset
ProjectSettings/GraphicsSettings.asset
ProjectSettings/InputManager.asset
ProjectSettings/NavMeshAreas.asset
ProjectSettings/NetworkManager.asset
ProjectSettings/Physics2DSettings.asset
ProjectSettings/ProjectSettings.asset
ProjectSettings/ProjectVersion.txt
ProjectSettings/QualitySettings.asset
ProjectSettings/TagManager.asset
ProjectSettings/TimeManager.asset
ProjectSettings/UnityAdsSettings.asset
Unity-WWW-wrapper-csharp.sln
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Assets/AssetStoreTools.meta
Assets/AssetStoreTools/Editor.meta
Assets/AssetStoreTools/Editor/AssetStoreTools.dll
Assets/AssetStoreTools/Editor/AssetStoreTools.dll.meta
Assets/AssetStoreTools/Editor/AssetStoreToolsExtra.dll
Assets/AssetStoreTools/Editor/AssetStoreToolsExtra.dll.meta
Assets/AssetStoreTools/Editor/DroidSansMono.ttf
Assets/AssetStoreTools/Editor/DroidSansMono.ttf.meta
Assets/AssetStoreTools/Editor/icon.png
Assets/AssetStoreTools/Editor/icon.png.meta
